{% extends 'base.html' %}

{% block title %}Index OI Data{% endblock title %}

{% block body %}

    <div class="p-5 text-center bg-image d-flex justify-content-center align-items-center" style="
              background-image: url('https://source.unsplash.com/1600x900/?amoled');
              height: 100vh;
            ">
        <div class="mask shadow-lg rounded " style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white p-5">
                    <h1 class="mb-3">MustWatch - Movies and TV Shows</h1>
                    <h4 class="mb-3">Telegram links of best Movies and TV Shows out there. Cannot promise every movie/series.</h4>
                    <a class="btn btn-outline-light btn-lg ripple-surface" href="movies" role="button">Movies</a>
                    <a class="btn btn-outline-light btn-lg ripple-surface" href="series" role="button">TV Shows</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}